backports.entry-points-selectable==1.3.0
certifi==2024.7.4
charset-normalizer==3.3.2
defusedxml==0.7.1
disutils==1.4.32
forex-python==1.8
Genshi==0.7.9
gunicorn==23.0.0
idna==3.8
lxml==5.3.0
MarkupSafe==2.1.5
passlib==1.7.4
polib==1.2.0
proteus==7.0
psycopg2==2.9.9
pycountry==24.6.1
python-dateutil==2.9.0.post0
python-magic==0.4.27
python-sql==1.5.1
python-stdnum==1.20
relatorio==0.10.2
requests==2.32.3
simpleeval==0.9.13
simplejson==3.19.3
six==1.16.0
trytond==7.0.24
trytond_account==7.0
trytond_account_invoice==7.0
trytond_account_invoice_stock==7.0
trytond_account_product==7.0
trytond_account_statement==7.0
trytond_bank==7.0
trytond_company==7.0
trytond_country==7.0
trytond_currency==7.0
trytond_party==7.0
trytond_product==7.0
trytond_purchase==7.0
trytond_purchase_request==7.0
trytond_stock==7.0
trytond_sale==7.0
trytond_stock_lot==7.0
trytond_stock_lot_unit==7.0
trytond_stock_product_location==7.0
trytond_stock_supply==7.0
trytond_web_user==7.0
trytond_user_role==7.0
urllib3==2.2.2
Werkzeug==3.0.4
